body{
  margin: 0;
  padding: 0;
}
.App{
  padding: 16px;
  text-align: center;
}
.nav{
  background-color: gray;
padding:1px 1px 1px 10px;
}
table{
  height: auto;
  padding:10px;
  border:1px solid;
}
.create{
  width: 30%;
  margin-left: 30px;
}
.flex{
  display: flex;
  flex-direction: row;
  width: 100%;
}
input{
  width: 100%;
}
button{
  margin-top: 10px;
  padding: 4px;
  background: rgb(119, 102, 224);
  font-size: 18px;
  color: #fff;
}
